.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.isDone{
  text-decoration: line-through;
  color: darkred;
  font-weight: bold;
}
.active{
  background-color: #2be104;
  color: white;
  font-weight: bold;
  border: 2px solid #989696;
  border-radius: 2px;
}
.error{
  border: 2px solid darkred;
  outline: none;
}

